p{
     background-color: aqua;
     margin: 10px;
}
h3{
  color: crimson;
 font-size: larger;
 background-color: beige;
 

}
li{
     color: blue;
     background-color: rgb(245, 230, 220);
     font-size: larger;
     


}